*{
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color:rgb(49, 49,49);
    width: 100%;
    padding: 15px;
    margin-top: -1%;
    margin-left: -1%;
    display:flex;
    justify-content: center;
    gap: 2rem;
    color: white;
   
} 

.navbar a{
    color: white;
    text-decoration: none;
}
.head{
    background-color: rgb(245, 245, 247);
    padding: 10px;
    height: 6vh;
    display: flex;
    justify-content: center;   

}
.head2{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5;
    
}
.link1{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
   
}
.link1 a{
    text-decoration: none;
}
.iphone13 img{
    width: 102%;
    height: 30%;
}
.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.iphonese2020{
    width: 25%;
    height: 10%;    
}
.link2{
    display: flex;
    flex-direction: row;
    gap:1rem; 
}
.link2 a{
    text-decoration: none;
}
.iphonese{
    width: 75%;
    height: 10%;
}
.sec3{
    display: flex;
    flex-direction:row;
    gap: 15rem;
    background-color: black;   
}
.sec3-1{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.sec4{
    display: flex;
    flex-direction:row;
}
.sec4-1{
    display: flex;
    flex: 1;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  
}
.sec4-1 img{ 
    height: 70%;
    width: 50%;
} 
.sec4-2{
    margin-top: 15px;
    display: flex;
    flex: 1;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
 .sec4-2 img{ 
    height: 80%;
    width: 60%;
} 
.sec5{
    display: flex;
    flex-direction:row;
    flex: 1;
}
.sec5-1{
    display: flex;
    flex: 1;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  
}
.sec5-2{
    display: flex;
    flex: 1;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.sec6{
    display: flex;
    flex-direction:row;
    flex: 1;
}
.sec6-1{
    margin-top: -50px;
    display: flex;
    flex: 1;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
}
.sec61front{
    margin-top: -170px;
    padding-left: 200px;
}
.sec6-2{
    display: flex;
    flex: 1;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.sec62front{
    margin-top: -200px;
    padding-left: 200px;
}
.sec7para {
    text-align: justify;
    padding: 100px;
}
.sec8{
    margin-top: -210px;
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: justify;
    padding: 100px;
    gap: 2rem;
    line-height:1.5;
}
.sec8 li{
list-style: none;
}
.sec8 a{
    text-decoration: none;
    color: black;
}
.listhead{
    font-weight: bold;
}
.footerdiv{
padding-left: 70px;
gap: 2rem;
margin-top: 15px;
color: black;
}
.footerdiv a{
    text-decoration: none;
    color: black;
}
